
.navbar {
  font-size: 1.125rem;
  height: $navbar-brand-logo-height /2;

  .navbar-brand {

    &-logo {
      position: relative;
      height: $navbar-brand-logo-height + 5px;
      width: $navbar-brand-logo-height + 5px;
      align-items: baseline;

      .image {
        width: $navbar-brand-logo-height;
        height: $navbar-brand-logo-height;
        display: block;
        box-sizing: border-box;
        overflow: hidden;

        &::before {
          border-radius: 50%;
          bottom: 0;
          content: '';
          left: 0;
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 0;
          box-shadow: $navbar-box-shadow-size $navbar-box-shadow-color;
        }

        img {
          background-color: $navbar-background-color;
          width: $navbar-brand-logo-height;
          height: $navbar-brand-logo-height;
          background-color: white;
          max-height: unset;
          object-fit: contain;
          border-radius: 50%;
        }
      }
    }
    }

}


@include until($navbar-breakpoint) {
  .navbar {
    &-brand {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: inherit;
      position: relative;

      .navbar &-logo {
        position: absolute;
        display: block;
        height: $navbar-brand-logo-height + 5px;
        width: $navbar-brand-logo-height + 5px;
        top: 0;
        left: 50%;
        padding-top: 0;
        margin-left: -$navbar-brand-logo-height / 2;
        z-index: 1;
      }
    }

    &-burger {
      margin-left: 0;
      flex-grow: 0
    }

    .navbar-end {
      display: none;
    }
  }
}

@include from($navbar-breakpoint) {
  .navbar {
    position: relative;

    .navbar-brand {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -$navbar-brand-logo-height / 2;

      &-logo {
        padding: 0;
      }
    }

    .navbar-mobile-icon {
      display: none;
    }
  }
}
