[submodule "themes/aipe-jo/assets/styles/vendors/bulma"]
	path = themes/aipe-jo/assets/styles/vendors/bulma
	url = git@github.com:jgthms/bulma.git
[submodule "themes/educenter-hugo"]
	path = themes/educenter-hugo
	url = git@github.com:themefisher/educenter-hugo.git
