<article class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          {{ if .Params.Image }}
          <img src="{{ .Params.Image | relURL }}" alt="{{ .Params.Name }}">
          {{ else }}
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="{{ .Params.Name }}">
          {{ end }}
        </figure>
      </div>
      <div class="media-content">
        {{ if eq .Params.Rank 1}}
        <p class="title is-4 has-text-danger">{{ .Params.Name }}</p>
        {{ else }}
        <p class="title is-4 has-text-info">{{ .Params.Name }}</p>
        {{ end }}
        <p class="subtitle is-6">{{ .Params.Classes }}</p>
        <p></p> {{ .Content }}</p>
      </div>
    </div>

  </div>
</article>


