<article class="card">

  {{ if .Params.Image }}
  <div class="card-image">
    <figure class="image">
      <img src="{{ .Params.Image | relURL }}" alt="{{ .Title }}" />
    </figure>
  </div>
  {{ end }}
  <div class="card-content">
    <h4 class="title is-4 has-text-info">{{ .Title }}</h4>
    <div class="content">
      {{ .Summary }}
    </div>
    <div class="content has-text-right is-size-7">
      <time >{{ .Params.Date.Format "January 2, 2006" }}</time>
    </div>
  </div>
  <div class="card-footer" >
    <a href="{{ .Permalink }}" class="card-footer-item">Lire</a>
  </div>
</article>
