{{ $page := . }}
{{ $icon_size := "32px" }}

<nav class="header navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <a class="navbar-item navbar-brand-logo" href="{{ .Site.Home.RelPermalink }}">
      {{ with .Site.Params.site_logo }}
      <figure class="image">
        <img src="{{ . }}" alt="{{ $.Site.Title }}" />
      </figure>
      {{ else }}
      {{ .Site.Title }}
      {{ end }}
    </a>

    <div class="navbar-social">
      {{ range .Site.Params.Social }}
      <div class="navbar-item navbar-mobile-icon">
        {{ partial "social-follow" (merge . (dict "size" "small"))}}
      </div>
      {{ end}}
    </div>
  </div>

  <div id="main-menu" class="navbar-menu">
    <div class="navbar-start">
      {{ if .Site.Menus.main }}
      {{ range .Site.Menus.main.ByWeight }}
      {{ $isActive := $page.HasMenuCurrent "navbar" . }}
      <a class="navbar-item {{ if $isActive }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
        {{ .Name }}
      </a>
      {{ end }}
      {{ end }}
    </div>


    <div class="navbar-end">
      {{ range .Site.Params.Social }}
      <div class="navbar-item navbar-social">
        {{ partial "social-follow" (merge . (dict "size" "small"))}}
      </div>
      {{ end}}
    </div>
  </div>
</nav>
