{{ $page := . }}
{{ $icon_size := "32px" }}

<nav class="header navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <a class="navbar-item navbar-brand-logo" href="{{ .Site.Home.RelPermalink }}">
      {{ with .Site.Params.site_logo }}
      <figure class="image">
        <img src="{{ . }}" alt="{{ $.Site.Title }}" title="{{ $.Site.Title }}" />
      </figure>
      {{ else }}
      {{ .Site.Title }}
      {{ end }}
    </a>

    <div class="navbar-social">
      {{ range .Site.Params.Social }}
      <div class="navbar-item navbar-mobile-icon">
        {{ partial "social-follow" (merge . (dict "size" "small"))}}
      </div>
      {{ end}}
    </div>
  </div>

  <div id="main-menu" class="navbar-menu">
    <div class="navbar-start">
      {{ if .Site.Menus.main }}
      {{ range .Site.Menus.main.ByWeight }}
      {{ if .HasChildren }}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link{{ if $page.HasMenuCurrent `main` . }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }}">
          {{ .Name }}
        </a>

        <div class="navbar-dropdown">
          {{ range .Children }}
          <a class="navbar-item{{ if $page.IsMenuCurrent `main` . }} is-active{{ end }}" href="{{ .URL }}"
            title="{{ .Name }}">
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </div>

      {{ else }}
      <a class="navbar-item{{ if $page.HasMenuCurrent `main` . }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
        {{ .Name }}
      </a>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>


    <div class="navbar-end">
      {{ range .Site.Params.Social }}
      <div class="navbar-item navbar-social">
        {{ partial "social-follow" (merge . (dict "size" "small"))}}
      </div>
      {{ end}}
    </div>
  </div>
</nav>
