
@import "./variables";
@import "vendors/bulma/bulma";
@import "./components/contact-list";
@import "./components/header";
@import "./components/social-follow";

html {
  overflow: auto;
  &.has-navbar-fixed-top {
    padding-top: $navbar-brand-logo-height /2;
  }
}

body {
  position: relative;
  height: calc(100vh - 4rem);
}

.main {
  padding-top: ($navbar-brand-logo-height / 2 )+ 21px;
}
.main::before {
  content: "";
  background-image: url('/images/ecole.jpg');
  background-size: cover;
  background-attachment: scroll;
  filter: opacity(0.1);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
